apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  mysql-root-password: cGFzc3dvcmQ=        # base64 of "password"
  mysql-user: Zmxhc2t1c2Vy                 # "flaskuser"
  mysql-password: Zmxhc2twYXNz             # "flaskpass"
  mysql-database: Z2VzdGJvb2s=             # "guestbook"